

 #topnav {
  background-color: #837f7f;
  left: 0px;
  position: fixed;
  height: 40px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  
 

}

#topnav ul{
  margin: 0;
  padding: 0;
 text-align: center;
 list-style: none;
}

#topnav ul li { 
  margin: 0;
  padding: 0;
display: inline-block;
}
#topnav ul li a {
  
  color: #f2f2f2;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  
  
}

#topnav ul li a:hover {
  background-color: #837f7f;
  color: black;
  text-decoration: underline;
  
}

.blockquote {
  color: rgb(48, 50, 196);
}

h2 {
    color: rgb(88, 0, 122);
    animation: type 3s steps(33);
    overflow: hidden;
    white-space: nowrap;
 }

@keyframes type {
    0% {
       width: 0ch; 
    }
    100% {
        width: 33ch;
    }
  }

  h4 {
    color:cornflowerblue;
  }